<!doctype html>
<!--
=========================================
  WELCOME | TERVETULOA | SELAMAT DATANG
=========================================

I hope you had fun with this app. May the
creativity that flows through this app be
worth more than RM15k.

If you wanna contact me, you can reach me at:
email: jellene4eva@gmail.com
github: github.com/jellene4eva
twitter @jellene4eva

-->
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Amazing Logo Generator</title>

  <meta name="description" content="This will make you famous">
  <meta name="author" content="Jellene Khoh">

  <link rel="shortcut icon" href="/favicon.png">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <main class="container">
      <div class="links">
          <a href='/'>MAIN PAGE</a>
          <a href='http://says.com/my/news/kl-s-new-tourism-logo-and-tagline'>READ MORE...</a>
      </div>

      <h1>Most Superawesome Logo Generator Of All Time Since 5Ever</h1>

      {% for message in get_flashed_messages() %}
        <div class=flash>{{ message }}</div>
      {% endfor %}
      {% block body %}{% endblock %}
  </main>
</body>
</html>
